
@{
    ViewBag.Title = "Help";
}

<h2>说明</h2>

<h4>欢迎使用小学微算</h4>
<div class="explain" style="font-size:19px;">
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;随着社会科技的进步和多媒体教育的日益发展，越来越来的学生正在接受着新时代下的教育模式，<br />
        而且手机、电脑等科技产品的普及以及其带来的更高效更便捷的模式使得它们成为当代学生学习中的<br />
        一种很好的学习工具，我们的小学生四则运算系统主要是面向小学生、家长和老师的一种准确高效的<br />
        在线答题模式，改变了以往传统的模式中老师在课堂出题学生答题的情况，该系统的意义在于学生不<br />
        再局限于上课的时间来练习计算能力，在课下也可以随时随地来巩固知识，也解决了家长由于忙于工<br />
        作而无法监督孩子做题、老师在课下不能很好地帮助同学解决问题等用户痛点问题。
    </p>
</div>


<div class="zhu" style="color:red; font-size:22px;  position: absolute; top:800px;left :600px;">
    <p>
        注：如在使用中什么问题请联系客服！
        联系电话：1527782****
    </p>
</div>

<div class="zhu" style="font-size:20px;  position: absolute; top:600px;left :600px;">
    <p>
        亲：这只是我们的1.0版本哦，后续有待更新，希望这软件能给你带来帮助，
        祝您使用愉快！
    </p>
    </div>
<div class="welcome">
    <img src="~/Content/images/25.jpg">
</div>







