@{
    ViewBag.Title = "Home Page";
}

<p><a class="two" href="http://localhost:53037/Home/Help" target="_blank" style="background:aliceblue; font-weight:amethyst; font-size:30px;">帮助</a></p>
<style>
    a.two:link {
        font-size: 20px;
        margin-left: 1000px;
        color: #261F23;
    }

    a.two:visited {
        color: #261F23;
    }
</style>

<h1>欢迎进入小学微算</h1>
<div id="One">
    <button type="submit" class="btn-success btn-lg" style="background:aliceblue; font-weight:bold;">
        <a href="~/Choose/S_Select" style="font-size:30px;">学生</a>
    </button>
</div>
<div id="Two">
    <button type="submit" class="btn-success btn-lg" style="background:aliceblue; font-weight:bold;">
        <a href="~/Choose/T_Select" style="font-size:30px;">老师</a>
    </button>
</div>
<div id="There">
    <button type="submit" class="btn-success btn-lg" style="background:aliceblue; font-weight:bold;">
        <a href="~/Choose/P_Select" style="font-size:30px;">家长</a>
    </button>
</div>
<div class="welcome">
    <img src="~/Content/images/25.jpg">
</div>
<div class="op">
    <p>1.0小学微算-黄美悉、苏卫喜</p>

</div>


