
@{
    ViewBag.Title = "P_Select";
}

<div class="Grade">
    <button>查看历史成绩</button></a>
</div>
<div class="Mistakes">
   <button>查看错题</button></a>
</div>
<div class="dx">
    <img src="~/Content/images/dx.gif" >
</div>
