
@{
    ViewBag.Title = "Proposed";
}

<div class="base">
    <p class="Name"><span>自拟题目</p>


    <img src="~/Content/images/58.gif" class="I">


    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle btn-group-lg"
                data-toggle="dropdown">
            题数<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">20题</a></li>
            <li><a href="#">30题</a></li>
            <li><a href="#">50题</a></li>
            <li class="divider"></li>
            <li><a href="#">100题</a></li>
        </ul>
    </div>

    <div class="btn-grade">
        <button type="button" class="btn btn-success dropdown-toggle btn-group-lg"
                data-toggle="dropdown">
            年级<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">一年级</a></li>
            <li><a href="#">二年级</a></li>
            <li><a href="#">三年级</a></li>
            <li><a href="#">四年级</a></li>
            <li><a href="#">五年级</a></li>
            <li><a href="#">六年级</a></li>
        </ul>
    </div>

    <div class="div-a">
        <div class="div-b"></div>

    </div>



    <div class="Answer-T">
        
        <input type="submit" class="btn btn-success btn-lg " value="上传文件">
        <input type="submit" class="btn btn-success btn-lg " value="打印题目">
    </div>
    <div class="Submit-T">
        <input type="submit" class="btn btn-info btn-lg " value="打印答案">
        <input type="submit" class="btn btn-info btn-lg " value="发布作业">
    </div>


</div>



