@{
    ViewBag.Title = "Contact";
}
<h2>用户登录</h2>
<div id="group">
    
    <label>用户名:  </label><input type="text" name="FirstName" value="必填"><br>
    <p></p>
    <p></p>
    <label>密码:  </label><input type="password" placeholder="请输入密码"><br>
    <p></p>
    <label>确认密码:  </label><input type="password" placeholder="请输入密码">
    <br>
</div>
<button type="button" class="btn btn-success">登录</button>
<p><b><a href="/css/" target="_blank">忘记密码？找回</a></b></p>

