@{
    ViewBag.Title = "Home Page";
}
<div id="example">
    <h1>用户选择进入系统</h1>
    <button type="button" class="btn btn-success">学生进入</button><p></p>
    <button type="button" class="btn btn-success">教师进入</button><p></p>
    <button type="button" class="btn btn-success">家长进入</button>

</div>